.top_bg{margin:0 auto 20px; background:url(../images/zt_922/bg.jpg) no-repeat center top; padding-top:394px;}
.top_bg_guan{margin:0 auto 20px; background:url(../images/zt_922/guan_dphf.jpg) no-repeat center top; padding-top:376px;}
.switchable-triggers{display:none;}
.lp{ width:920px; background:#f4a77d; margin:auto; color:#555555; position:relative; height:574px}
.lp_guan{ width:920px; background:#C7E5CB; margin:auto; color:#555555; position:relative; height:574px}
.pic_line{border:1px solid #fff;border-radius:5px; margin:0 8px 0 8px; top:10px; position:relative; height:400px}
.pic{width:572px; height:381px; margin:9px 15px;float:left;}
.pic img{border-radius:5px;}

.news{ float:left; width:250px; font-family:"微软雅黑"; font:14px; line-height:22px; margin:15px 0 15px 10px}
h3{ font-size:20px; font-family:"微软雅黑"; font-weights:normal; margin:10px 0; padding-bottom:5px; color:#000}
/*.news_text a{color:#c51b1e;text-decoration:none; font-size:16px; line-height:26px}
.news_text a:hover{color:#e8443a; text-decoration:underline}*/
.news_text,.news_text02{ margin-bottom:10px}
.news_text02{ border-top:1px solid #f0bb9e; padding-top:15px; margin-top:20px}

.pic_zh{ width:920px; position:relative; display:block; margin:35px 0 0 0; overflow:hidden;}
.pic_zh img{ border:0}
.pic_zh span{position:absolute; top:45px; cursor:pointer;}
.pic_zh span.prev_btn{left:25px;}
.pic_zh span.next_btn{right:25px;}
.pic_zh .pic_zh_list{position:relative; width:790px; height:126px; margin:0 auto; overflow:hidden;}
.pic_zh .pic_zh_list ul{position:absolute;width:2000em; overflow:hidden;}
.pic_zh .pic_zh_list li{float:left; margin-right:10px; display:inline;}
.pic_zh .pic_zh_list li a,.pic_zh .pic_zh_list li a img{width:150px; height:110px; display:block;}


.bk{ width:920px; background:#fff; margin:auto; color:#555555; position:relative;height: 360px;}
.bk_line{border:1px solid #eeeeee;border-radius:5px; margin:0 8px 0 8px; top:10px; position:relative;height: 180px;}
.bk_line .news_list{overflow:hidden;}
h5{ font-size:12px; font-family:"微软雅黑"; font-weights:normal; margin:0 0 3px 0;color:#000}
.news_list ul{ list-style:none; padding:0; margin:15px 0 0 20px; float:left; width:279px; border-right:1px solid #e8e8e8}
.news_list li{ margin:0 10px;font-size:12px; line-height:24px;}
.news_list .li_fis{margin:0; position:relative;}
.news_list .li_fis a{position:absolute; top:0; right:10px;}
.news_list li a{color:#555; display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.ico_zx{ position:relative; top:3px}

.bk_line .fxsshow{overflow:hidden; position:relative;}
.fxsshow dl{ list-style:none; padding:0; margin:12px 10px 0 0; float:left; width:200px}
.fxsshow dt{ margin:0 10px;line-height:24px; float:left;}
.fxsshow dd{ margin:0 10px;font-size:12px; line-height:24px;}
.ico_fxsshow{ position:relative; top:1px}
.fxsshow img{ border:0}
.fxsshow a{color:#000;text-decoration:none}
.ann_zyz{ margin-top:40px}

.color_red{ color:#e03b41}










